version: '3.8'
services:
  app:
    image: node:18
    working_dir: /usr/src/app
    volumes:
      - ./:/usr/src/app
    command: /bin/sh -c "pnpm install && pnpm run start"
    ports:
      - "3000:3000"